footer#rodape{
    background-image: linear-gradient(to left, var(--c-roxo), var(--c-rosa));
    margin-top: 4rem;
    
    #top-rodape{
        padding: 2rem 2rem 5rem 2rem;

        .content{
            color: white;
            text-decoration: underline;

            .title{
                color: white;
                text-decoration: none !important;
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                position: relative;
                &:before{
                    position: absolute;
                    content: '';
                    width: 90px;
                    height: 1px;
                    bottom: -3px;
                    left: 1px;
                    background-color: white;
                }
            }

            .menu{
                padding-left: 0;
                margin-top: 2rem;
                li, p{
                    margin-bottom: 9px;
                    
                    a{
                        text-decoration: none;
                        color: white;
                        display: inline-block;
                        font-weight: 400;
                        transition: .4s ease-in-out;

                        &:hover{
                            transform: translate(10px, 0);
                            text-decoration: underline;
                        }
                    }
                }

                p{
                    text-decoration: none;
                    display: inline-block;
                    a{
                        margin-right: 10px;
                    }
                }
            }
        }

        .pagamentos{
            .formas-pag{
                .icon-pix{
                    filter: invert(100%);
                    
                    img{
                        margin-left: 8px;
                        margin-top: 5px;
                        height: 49px;
                    }
                }
            }
        }

        .app{
            img{
                width: 150px;
            }
        }

        .socias{
            i{
                transition: .4s ease-in-out;
                color: white;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    #bottom-rodape{
        background-color: white;
        padding: 1rem;
        color: black;

        article{
            p{
                font-weight: 500;

                a{
                    font-weight: 600;
                    color: black;
                    transition: .4s;

                    &:hover{
                        color: var(--c-laranja);
                    }
                }
            }
        }
    }
}