header{
    z-index: 100;
    top: 0;
    width: 100%;
    position: fixed;
}


#menu-header{
    height: 146px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 -4px 14px 1px #000000;

    @media screen and (max-width: 767px) {
        height: 96px;
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        >div, >div .row, >div .row >div{
            padding: 0;
        }
    }
    .logo{
        img{
            width: 300px;
            
            @media screen and (max-width: 1199px) {
                width: 250px;
            }

            @media screen and (max-width: 575px) {
                width: 200px;
                padding-bottom: 1rem;
            }

            
        }
    }


    .icons-aux {
        a{
            font-weight: 500;
            font-size: 19px;
            color: var(--c-roxo);
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        button{
            background-image: linear-gradient(to left, var(--c-roxo), var(--c-rosa));
            height: 50px;
            color: white;
            border-radius: 3rem;
            padding: 7px 1rem;
            font-weight: 500;
            font-size: 19px;
            border: none;

            &:hover{
                background-image: none;
                background-color: var(--c-roxo);
            }
        }
    }
   
    .menu-mobile{
            position: relative;
            top: 0;
            height: 40px;
            width: 39px;

            @media screen and (max-width: 575px) {
                width: 60px ;
                right: 1rem;
            }

        &.active{
            .itens-menu{
                span{
                    
                    &:nth-child(1){
                        transform: rotate(45deg);
                        top: 0;
                    }

                    &:nth-child(2){
                        transform: rotate(135deg);
                        top: 0;
                    }

                    &:nth-child(3){
                        display: none;
                    }
                }
            }
        }

        .itens-menu{
            position: relative;
            transition: .5s ease-in; 
            top: 20px;
            cursor: pointer;
            &:hover{
                span{
                    background-color: var(--c-laranja);
                }
            }
            span{
                transition: .3s ease-in-out;
                content: '';
                position: absolute;
                width: 35px;
                right: 0;
                background-color: var(--c-verde-escuro);
                height: 3px;
                border-radius: 0;

                

                &:nth-child(1){
                    top: 8px;
                }

                &:nth-child(3){
                    top: -8px;
                }
            }
        }
    }

 
}


#canvas-menu{
    left: 0;
    bottom: -40px;
    background-color: #fffffff2;
    position: fixed;
    visibility: hidden;
    width: 60%;
    height: 100%;
    z-index: 110;

    @media screen and (max-width: 767px) {
        width: 100%;
        
    }

    .canvas-header{
        border-bottom: 2px solid var(--c-verde-escuro);

        .options{
            a{
                border: 2px solid var(--c-laranja);
                border-radius: 3rem;
                padding: .5rem 1rem;
                text-decoration: none;
                color: black;
                font-weight: 500;
                display: flex;


                &:hover{
                    box-shadow: 2px 5px 0px 0px var(--c-laranja);
                }
            }
            img{
                height: 25px;
                margin-right: .5rem;
            }

            @media screen and (max-width: 575px) {

                >div{
                    font-size: 11px;
                }

                img{
                    height: 17px;
                }
                
            }
        }

        .box-close{
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: .5rem;
            right: -1rem;
            line-height: 50px;
            background-color: var(--c-verde-escuro);
            .btn-close{
                font-size: 20px;
                opacity: 1;
                filter: invert(100%);
                padding-left: 11px;
            }

            @media screen and (max-width: 767px) {
                right: .5rem;
                
            }
        }
    }

    &.active{
        animation: animacaoCanvas 0.4s linear forwards;
        visibility: visible;
        box-shadow: 4px 2px 8px #89a6663b;

        .canvas-header{
            a{
            transition: .4s;
        }
        }
    }

    .offcanvas-body{
        .menu-top{
            ul{
               
                li{

                    >a{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                        background: var(--c-laranja);
                        color: white !important;
                        padding: 10px;
                        text-transform: uppercase;

                        i{
                                font-size: 25px;
                        }
                    }
                    a{
                        color: black;
                        font-weight: 500;
                        text-decoration: none;
                        opacity: 0.8;
                    }

                    .submenu{
                        display: none !important;

                        a{
                            transition: .4s;
                        }
                        a:hover{
                            text-decoration: underline;
                            transform: translateX(10px);
                        }

                        &.show{
                            display: flex !important;

                            animation: animacaoCanvas 0.3s linear forwards;
                            
                        }
                    }
                }
            }
        }
    }

}


@keyframes animacaoCanvas{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
    
}